<div class="max-w-md mx-auto bg-white rounded p-8 mt-10 shadow-lg">
  <h1
    class="text-4xl font-extrabold mb-8 text-center text-indigo-600"
  >Login</h1>
  <form action="/api/loginJwt" method="post" class="space-y-4">
    <div class="relative">
      <input
        type="text"
        name="email"
        placeholder="Email"
        class="w-full p-3 rounded border bg-gray-100 focus:outline-none focus:border-blue-500 transition-all duration-300"
      />
    </div>
    <div class="relative">
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="w-full p-3 rounded border bg-gray-100 focus:outline-none focus:border-blue-500 transition-all duration-300"
      />
    </div>
    <button
      type="submit"
      class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline transition-all duration-300"
    >Log in</button>
  </form>
</div>