<div class="max-w-md mx-auto bg-white rounded p-8 mt-10 shadow-lg">
    <h1 class="text-2xl font-bold mb-4">Recuperar Contraseña</h1>

    <form action="api/recover" method="post">
      <div class="mb-4">
        <input type="text" name="email" placeholder="Email" class="w-full p-2 border border-gray-300 rounded" />
      </div>
      <div class="mb-4">
        <input type="password" name="password" placeholder="New Password" class="w-full p-2 border border-gray-300 rounded" />
      </div>
      <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">Recuperar contraseña</button>
    </form>
  </div>